/*
  Style sheet for Tailored Quisine Demo 1
*/


*{
  font-family: 'Open Sans', sans-serif;
  color:#3d3f4a;
  cursor: default;
}
.cursive{
  font-family: 'Dancing Script', cursive;
}

button{
  cursor: pointer;
}

img{
  cursor: pointer;
}

p{
  font-size: 22px;
}

.titleTxt{
  font-size:2em;
  padding:1vh;
  border-radius: 20px;
}

h2{
  font-size:32px;
}
h1{
  font-size: 2em;
}

menuDesc{
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 6vh;
  padding-right: 6vh;
  font-size: 1.4em;
}

menuItemTxt{
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
}
menuItemTxt:hover{
  color:dodgerblue;
  text-decoration: underline;
}

menuItemDesc{
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 4vh;
  padding-right: 8vh;
  font-size: 1.25em;
}

.menuImg{
    height: 30vh;
    border-radius: 20px;
}

menuTripleImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

menuTripleImg imgContainer img{
  width: 20vh;
  height: 20vh;
  padding: 3vh;
  border-radius: 20%;

}

body{
  background-color: #fff2ba;
  padding-bottom: 10vh;
}

topNav{
  width: 100%;
  height: 6vh;
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

topNav p{
  padding-left: 3vh;
  font-size: 2em;
  margin:0;
  padding-top: 1vh;
}

sideNav{
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  width: 40%;
  height: 100%;
}

sideNav p{
  cursor: pointer;
}

sideNav p:hover{
  color: dodgerblue;
  text-decoration: underline;
}

txtLink{
  padding-top: 2vh;
  padding-right: 2vh;
  color: dodgerblue;
  cursor: pointer;
}
txtLink:hover{
  text-decoration: underline;
}

.prompt{
  background-color: white;
  position: fixed;
  border-radius: 20px;
  top:25vh;
  left: 25vw;
  height: 50vh;
  width: 50vw;
  z-index: 2;
  display: none;
}

dim{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  display: none;
  cursor: none;
}

.boldTxt{
  font-size: 2em;
  font-weight: bold;
}

.icon{
  width: 3vh;
  height: 3vh;
  padding-top: 1.5vh;
  padding-left: 2vh;
}

.headImg{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: auto;
}

.transBG{
  background-color: rgba(250, 249, 245, 0.8 )
}

menuItemTxt day{

  height: 3vh;
  width: 3vh;
  font-size: 0.5em;

}

menuItemTxt padBetween{
  width: 2vh;
  height: 2vh;
}

weekDays{
  display: flex;
  justify-content: center;
  align-items: center;
}

day{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  height: 5vh;
  width: 5vh;
  color: white;
  background-color: black;
  border-radius: 50%;
}

day:hover{
  border-style: solid;
  border-color: dodgerblue;
  color: black;
  background-color: white;
}

day.selected{
  border-style: solid;
  border-color: lightgreen;
  color: black;
  background-color: white;
}

.mon{}
.wed{}
.fri{}



padBetween{
  width: 5vh;
  height: 5vh;
}



header{
  padding-top: 10vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.logo{
    border-radius: 50%;
    width: 35vh;
    height: 35vh;
}

logoContainer{
  padding-left: 4vw;
  display: flex;
  justify-content: center;
}

flexContainer{
  display: flex;
  flex-direction: column;
  width: 40%;
}

flexContainerFull{
  display: flex;
  flex-direction: column;
}

txtPadding{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 4vh;
}

.borderShrink{
  width: 100%;
}


centeredContainer{
  padding-top: 7vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

tripleImgContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

tripleImgContainer img{
  width: 40vw;
  height: 50vw;
  padding: 3vh;
  border-radius: 100px;
  text-align: center;
}



carosel{
  width: 90%;
}

carosel img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

linkContainer{
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}

.imgCenteredTxt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkTxt{
  padding-left: 1vh;
  margin:0;
  cursor: pointer;
}
.linkTxt:hover{
  color:dodgerblue;
  text-decoration: underline;
}

.socialMediaIcon{
  width: 4vh;
  height: 4vh;
}

.defaultBtn{
    font-size: 1.5em;
    background-color: white;
    border-color: black;
    width: 25vw;
}
.defaultBtn:hover{
    font-size: 1.5em;
    background-color: black;
    border-color: black;
    color:white;
}

.borderedTxt{
  border-style: solid;
  border-width: thick;
  border-color: white;
  border-radius: 5px;
}

.dynamicCenterContainer{
  width:100%;
  display:flex;
  justify-content:center;
}

.largeBtn{
  width: 20vw;
}

imgContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  background-color: white;
  padding: 1vh;
}

button:hover{
  color:white;
  background-color: black;
}

cart{
  position: fixed;
  top: 11vh;
  left: 80vw;
  display: none;
}

.cartBtn{
  background-color: white;
  padding: 2vh;
  border-radius: 50%;
}

.cartBtn:hover{
  border-style: solid;
  border-color: dodgerblue;
  border-width: 5px;
}

pad{
  width:1vw;
  height: 3vh;
}


/*
  Responsive Design Styling
*/
@media (min-width:0px){

}
/*
  Resizing for mobile
*/
@media (max-width:768px){

  .largeBtn{
    width: 40vw;
  }

  logoContainer{
    justify-content: center;
    width: 100%;
    padding-left: 0;
    padding-top: 5vh;
  }
  flexContainer{
    align-items: center;
    width: 100%;
  }
  flexContainerFull{
    align-items: center;
    width: 100%;
  }


}

/*
  Resizing for low-res device
*/

@media (max-width:340px){
  .logo{
    width: 70vh;
    height: 70vh;
  }
}

/*
  Resizing for desktop
*/
@media (min-width:1200px){
  .logo{
    width: 30vw;
    height: 30vw;
  }
  logoContainer{
    width: 43%;
    height: 43%;
  }
  txtPadding{
    padding-top: 10vh;
  }
  tripleImgContainer{
    flex-direction: row;
  }
  tripleImgContainer img{
    width: 20vw;
    height: 30vw;
  }
  carosel{
    width: 50%;
  }
  cart{
    left:87vw;
  }
  .borderedTxt{
    border:none;
  }
  .dynamicCenterContainer{
    justify-content: start;
  }
  .borderShrink{
    width: 40%;
    align-items: center;
  }
}
